In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Create paths to csv files and read them into Pandas DataFrame
school_datafile = Path('Resources/schools_complete.csv')
student_datafile = Path('Resources/students_complete.csv')

# Read the data
school_data = pd.read_csv(school_datafile)
student_data = pd.read_csv(student_datafile)

# Combine the two datasets into one dataset
district_data = pd.merge(student_data, school_data, how="right", on=["school_name", "school_name"])
district_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Calculate the total number of unique schools
total_schools = len(district_data["school_name"].unique())
total_schools

15

In [4]:
# Calculate the total number of students
total_students = district_data["Student ID"].nunique()
total_students

39170

In [5]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
# Calculate the average math score
avg_math_score = district_data["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
# Calculate the average reading score
avg_reading_score = district_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [8]:
# Calculate percentage of students passing math
students_passing_math = district_data[(district_data["math_score"] >= 70)].count()["student_name"]
perc_students_passing_math = students_passing_math / float(total_students) * 100
perc_students_passing_math

74.9808526933878

In [9]:
# Calculate percentage of students passing reading
students_passing_reading = district_data[district_data["reading_score"] >= 70].count()["student_name"]
perc_students_passing_reading = students_passing_reading / float(total_students) * 100
perc_students_passing_reading

85.80546336482001

In [10]:
# Calculate percentage of students passing BOTH math AND reading
students_passing_both = district_data[
    (district_data["math_score"] >= 70) & (district_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = students_passing_both / float(total_students) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the distict's key metrics in a DataFrame
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [perc_students_passing_math],
    "% Passing Reading": [perc_students_passing_reading],
    "% Overall Passing Rate": [overall_passing_rate]
})

# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
# Use the code provided to select the school type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count per school
per_school_counts = district_data["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [14]:
# Calculate per school budget 
per_school_budget = district_data.groupby(["school_name"])["budget"].mean()
per_school_budget.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [15]:
# Calculate per school capita budget
per_school_capita = per_school_budget / per_school_counts
per_school_capita.head()

school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [16]:
# Calculate the average test scores per school
per_school_mathavg = district_data.groupby(["school_name"])["math_score"].mean()

per_school_readingavg = district_data.groupby(["school_name"])["reading_score"].mean()

In [17]:
# Calculate the number of students per school with math scores 70+
per_school_passing_math = district_data[district_data["math_score"] >= 70]
per_school_passing_math.head()

group_per_school_passing_math = per_school_passing_math["school_name"].value_counts()
group_per_school_passing_math.head()

school_name
Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Name: count, dtype: int64

In [18]:
# Calculate the number of students per school with reading scores 70+
per_school_passing_reading = district_data[district_data["reading_score"] >= 70]

group_per_school_passing_reading = per_school_passing_reading["school_name"].value_counts()
group_per_school_passing_reading.head()

school_name
Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Name: count, dtype: int64

In [19]:
# Calculate the number of students per school that passed both math and reading with scores of 70+
per_school_passing_both = district_data[(district_data["math_score"] >= 70) & (district_data["reading_score"] >= 70)]

group_per_school_passing_both = per_school_passing_both.groupby(["school_name"]).size()
group_per_school_passing_both.head()

school_name
Bailey High School      2719
Cabrera High School     1697
Figueroa High School    1569
Ford High School        1487
Griffin High School     1330
dtype: int64

In [20]:
# Calculate the passing rates
percent_per_school_passing_math = group_per_school_passing_math / per_school_counts * 100

percent_per_school_passing_reading = group_per_school_passing_reading / per_school_counts * 100

percent_per_school_overall = group_per_school_passing_both / per_school_counts * 100

In [21]:
# Crate a DataFrame called 'per_school_summary'
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_mathavg,
    "Average Reading Score": per_school_readingavg,
    "% Passing Math": percent_per_school_passing_math,
    "% Passing Reading": percent_per_school_passing_reading,
    "% Overall Passing": percent_per_school_overall})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [24]:
# Sort the schools by '% Overall Passing' in descending order
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [25]:
# Sort the schools by '%Overall Passing' in ascending order and display the top 5 rows
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelfth_grader_math_scores =